.newsletter {
  margin-top: 50px;
  margin-bottom: 100px;
}

.img-circle {
  width: 200px;
}

.wrapper-grey{
  margin: 50px 0px;
  background-color: $gray-lighter;
  p {
    margin-bottom: 40px;
  }
}
