
<div class="container">
  <div class="row">
    <h2>Our Team</h2>

    <% ["evan", "evan", "evan"].each do |member| %>
      <div class="col-xs-12 col-sm-4 text-center">
        <%= image_tag "#{member}.png", class: "img-circle" %>
        <h3><%= member.capitalize %></h3>
      </div>

    <% end %>
  </ul>
</div>
</div>
</div>
